<p>アジェンダ「<%= @agenda.title %>」が削除されました！</p>

<% unless @agenda.articles.empty? %>
  <p>それに伴い、アジェンダ「<%= @agenda.title %>」内にあった以下の記事も削除されました。</p>
  <ul>
    <% @agenda.articles.each do |article| %>
      <li><%= article.title %></li>
    <% end %>
  </ul>
<% end %>